html,
body {
    font-family: "Major Mono Display", monospace;
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
}

header {
    width: 100vw;
    min-height: 5vh;
    background: rgb(30, 30, 30);
}

header h1 {
    padding: 2vh;
    margin: 0;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

#hint {
    width: 80vw;
    margin: 1vh auto;
    font-size: 1.25em;
    text-align: center;
}

#squares {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 80vh;
    margin: 5vh auto;
    padding: 0;
}

.square {
    display: block;
    width: 5vw;
    height: 5vw;
    margin: 0.5vw;
    padding: 0;
    border-radius: 1vh;
    background: rgb(220, 20, 120);
}

.square:hover {
    cursor: pointer;
}

#score {
    position: absolute;
    right: 5vh;
    bottom: 3vh;
}

#score #current-score {
    width: 8vw;
    height: 8vw;
    background: rgb(30, 30, 30);
    border-radius: 1vh;
    line-height: 8vw;
    font-size: 4vw;
    color: rgb(255, 255, 255);
    text-align: center;
}

#score #highscore {
    width: 8vw;
    margin-top: 1vw;
    text-align: center;
}

#score #highscore:before {
    content: "Best";
    margin-right: 1vw;
    text-transform: lowercase;
}